.rps-result-image {
  height: 80px;
  width: 80px;
}

.rps-results-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.rps-win-or-lose-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  justify-content: center;
}

.rps-score-card-container {
  border: solid 1px;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
}

.rps-win-or-lose-card-bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rps-win-or-lose-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 0px;
}

.rps-play-again-btn {
  border: none;
  background-color: #ffffff;
  color: #223a5f;
  outline: none;
  padding: 10px;
  border-radius: 12px;
  /* align-self: center; */
}

.scorecard-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}

.list-item {
  list-style-type: none;
}

.score-card-rps {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px;
  width: 104px;
  height: 94px;
  background-color: #ffffff;
  border-radius: 12px;
}

.score {
  margin-top: 0px;
  color: #223a5f;
  font-size: 32px;
  text-align: center;
}

.score-text {
  text-align: center;
  color: #223a5f;
  font-size: 16px;
  padding-left: 13px;
  margin-bottom: 3px;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
