.card-front {
  width: 66px;
  height: 66px;
  margin: 10px;
  border: none;
  background: transparent;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.front {
  width: 66px;
  height: 66px;
}

.card-back {
  width: 66px;
  border: none;
  background: transparent;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
}

.card .card-front {
  transform: rotateY(90deg);
  position: absolute;
  transition: all ease-in 0.2s;
}

.cards-container {
  display: flex;
  flex-direction: column;
}

.flipped .card-front {
  transform: rotateY(0deg);
}

.card .card-back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}
.flipped .card-back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
